<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derechos de Autor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Derechos de Autor</h1>
            <p class="mt-4">
                Este sitio web y todo su contenido están sujetos a los derechos de autor de <strong>Manuel Ordoñez</strong>. Todos los derechos reservados.
            </p>
            <p class="mt-3">
                Queda prohibida la reproducción total o parcial de este sitio web, incluyendo, sin limitación, el diseño, los textos, gráficos, logos, íconos y cualquier otro contenido, sin el consentimiento expreso y por escrito del propietario.
            </p>
            <p class="mt-3">
                Para consultas o más información, por favor contáctenos a través del correo: desarrolladormanuel@gmail.com.
            </p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
