@model NewsArticle.Models.Droga

@{
    ViewData["Title"] = "Crear Droga";
}

<h1>Crear Droga</h1>

<div class="m-4">
    <form asp-action="Crear" method="post">
        <div class="form-group">
            <label asp-for="TipoDroga" class="control-label"></label>
            <input asp-for="TipoDroga" class="form-control" />
            <span asp-validation-for="TipoDroga" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
