@model NewsArticle.Models.EconomiaIlicita

@{
    ViewData["Title"] = "Editar Economía Ilícita";
}

<h1>Editar Economía Ilícita</h1>

<div class="m-4">
    <form asp-action="Editar" method="post">
        <div class="form-group">
            <label asp-for="NombreEconomiaIlicita" class="control-label"></label>
            <input asp-for="NombreEconomiaIlicita" class="form-control" />
            <span asp-validation-for="NombreEconomiaIlicita" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
